.address {
  margin-top: 20px;
  font-style: normal;
}
.address__text {
  margin-bottom: 9px;
}
.address__item:first-child {
  margin-bottom: 9px;
}
.address__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
    outline-color: var(--accent-color);
  }
}
