.contacts {
  display: flex;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
    outline-color: var(--accent-color);
  }
}
.contacts__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: var(--secondary-text-color);

  transition: fill var(--animation);

  .contacts__link:hover & {
    fill: var(--accent-color);
  }
  .contacts__link:focus & {
    fill: var(--accent-color);
    outline: none;
  }
}
