.logo {
  margin-right: 93px;
  font-family: var(--logo-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--logo-text-color);

  &:focus {
    outline-color: var(--accent-color);
  }
}
.logo--accent {
  color: var(--accent-color);
}
