.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  z-index: 300;
  padding: 40px;
  background-color: var(--primary-bg-color);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation);

  @media screen and(max-width: 479.98px) {
    max-width: 100%;
    max-height: 100%;
  }

  @media screen and(max-height:609px) {
    top: 0;
    transform: translateX(-50%);
    overflow-y: scroll;
  }

  @media screen and(min-width: 480px) {
    min-width: 450px;
    min-height: 610px;
  }

  @media screen and(min-width:1200px) {
    min-width: 528px;
    min-height: 581px;
  }
}
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 350;

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--primary-bg-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: fill var(--animation);

  &:hover {
    fill: var(--accent-color);
  }
}
.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
