.project {
  flex-basis: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width:768px) {
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and(min-width:1200px) {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.project__link {
  display: block;
  transition: box-shadow var(--animation);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:focus {
    outline-color: var(--accent-color);
  }
}
.project__thumb {
  position: relative;
  overflow: hidden;
}
.project__overlay {
  position: absolute;
  width: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--light-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--animation);

  .project__link:hover & {
    transform: translateY(-100%);
  }
}

.project__text {
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;

  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.project__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}
.project__desc {
  font-size: 16px;
  line-height: 1.87;

  color: var(--secondary-text-color);
}
