.socials {
  display: inline-flex;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}
.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    outline-color: var(--accent-color);
  }
}
.socials__icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-icons-color);

  transition: fill var(--animation);

  .socials__link:hover & {
    fill: var(--light-text-color);
  }
  .socials__link:focus & {
    fill: var(--light-text-color);
    outline-color: var(--accent-color);
  }
}
