.benefits__list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.benefits__item {
  flex-basis: 100%;
  margin-bottom: 30px;

  @media screen and(min-width:768px) {
    flex-basis: calc((100% - 30px) / 2);

    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @media screen and(min-width:1200px) {
    flex-basis: calc((100% - 3 * 30px) / 4);
    margin-bottom: 30px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &::before {
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;

    background-color: var(--button-bg-color);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:nth-child(1)::before {
    background-image: url(../images/icons/antenna.svg);
  }
  &:nth-child(2)::before {
    background-image: url(../images/icons/clock.svg);
  }
  &:nth-child(3)::before {
    background-image: url(../images/icons/diagram.svg);
  }
  &:nth-child(4)::before {
    background-image: url(../images/icons/astronaut.svg);
  }
}
.benefits__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  @media screen and(max-width:767.98px) {
    text-align: center;
  }
}
.benefits__text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-color);
}
